<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="/home/roberto/dev/soc-quartus/sistema_reduzido/software/application_teste/application_teste.elf"/>
<stringAttribute key="modelSimPath" value="/home/roberto/altera/13.0sp1/modelsim_ase/linuxaloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="application_teste.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="application_teste"/>
<stringAttribute key="spdPath" value="/home/roberto/dev/soc-quartus/sistema_reduzido/qsys_system_reduzido_tb.spd"/>
</launchConfiguration>
